Repository vancetang/mq-monitor, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, configuration, test-code, documentation, build

build: 擴展 MqMonitorApplication 以支援 SpringBootServletInitializer 於 Liberty 環境
  src/main/java/com/example/mqmonitor/MqMonitorApplication.java
Labels: backend

build: 支援雙模式部署與 JNDI 設定，新增 DB2 JDBC 依賴及相關配置
  README.md
  pom.xml
  report.md
  spec.md
  src/main/resources/application-container.yml
  todolist.md
Labels: backend, configuration, documentation, build

build: 更新 pom.xml，新增 DB2 JDBC 依賴及 Liberty 配置，調整依賴管理與建置設定
  pom.xml
Labels: build

docs: 新增 MQ Monitor JNDI 設定指南及本地端 Tomcat 設定指南
  docs/QA.md
  docs/draft/JNDI-SETUP-GUIDE.md
  docs/draft/local-tomcat-setup.md
Labels: documentation

config: 新增開發環境與嵌入式 JNDI 配置文件
  src/main/resources/application-dev.yml
  src/main/resources/application-embedded-jndi.yml
Labels: backend, configuration

chore: 移轉工作區設定至使用者設定
  .vscode/settings.json
Labels: none

config: 增加 liberty server 設定
  .gitignore
  src/main/liberty/config/server.xml
Labels: none

config: 為了 liberty server console 中文問題，增加 settings.json
  .vscode/settings.json
Labels: none

chore: 調整 gitignore 設定
  .gitignore
Labels: none

config: 增加 liberty debug mode 相關參數
  .vscode/launch.json
Labels: none

config: 增加 spring-boot 一般 debug mode 設定
  .vscode/launch.json
Labels: none

config: 增加 liberty feature 設定
  src/main/liberty/config/server.xml
Labels: none

docs: 新增專案打包指令
  README.md
Labels: documentation

config: 調整 application 設定，增加 task 相關參數
  src/main/resources/application.yml
Labels: backend, configuration

build(deps)!: 更新 Spring Boot 版本至 3.5.6
  pom.xml
Labels: build

build(deps)!: 更新 Spring Boot 版本至 3.5.6
  pom.xml
Labels: build

build(deps)!: 更新 Spring Boot 版本至 3.5.6
  pom.xml
Labels: build

build(deps)!: 更新 Spring Boot 版本至 3.5.7
  pom.xml
Labels: build

build: 新增 dependabot 配置以自動更新 Maven 和 GitHub Actions 依賴
  .github/dependabot.yml
Labels: build

build(deps)!: 更新 Spring Boot 版本至 3.5.7
  pom.xml
Labels: build

build: 新增 dependabot 配置以自動更新 Maven 和 GitHub Actions 依賴
  .github/dependabot.yml
Labels: build

build: 支援雙模式部署與 JNDI 設定，新增 DB2 JDBC 依賴及相關配置
  pom.xml
Labels: build

build: 更新 pom.xml，新增 DB2 JDBC 依賴及 Liberty 配置，調整依賴管理與建置設定
  pom.xml
Labels: build

chore(build): update pom.xml and configs for Liberty Server compatibility
  pom.xml
  src/main/liberty/config/server.xml
  src/main/resources/application.yml
Labels: backend, configuration, build

refactor(app): migrate MQMonitorApplication to Liberty deployment
  src/main/java/com/example/mqmonitor/MqMonitorApplication.java
Labels: backend

chore(tools): update .gitignore and VS Code settings for Liberty dev
  .gitignore
  .vscode/launch.json
  .vscode/settings.json
Labels: none

refactor(service): migrate PCF package to com.ibm.mq.headers.pcf
  src/main/java/com/example/mqmonitor/service/MQPCFService.java
Labels: backend

refactor(service): standardise exception handling in MQPCFService
  src/main/java/com/example/mqmonitor/service/MQPCFService.java
Labels: backend

refactor(service): migrate PCF package and standardise exception handling (#10)
  src/main/java/com/example/mqmonitor/service/MQPCFService.java
Labels: backend

feat(liberty): 支援 Open Liberty 部署與相關配置
  .gitignore
  .vscode/launch.json
  .vscode/settings.json
  pom.xml
  src/main/java/com/example/mqmonitor/MqMonitorApplication.java
  src/main/liberty/config/server.xml
  src/main/resources/application.yml
Labels: backend, configuration, build

feat(ci): 新增 automated 標籤用於 CI/CD 變更
  .github/workflows/add-labels.yml
Labels: build

feat(ci): 新增 automated 標籤用於 CI/CD 變更 (#12)
  .github/workflows/add-labels.yml
Labels: build

feat(multi-server): 整合多伺服器支援、JNDI 設定與依賴更新
  .gitignore
  .vscode/launch.json
  .vscode/settings.json
  README.md
  docs/QA.md
  docs/draft/JNDI-SETUP-GUIDE.md
  docs/draft/local-tomcat-setup.md
  pom.xml
  report.md
  spec.md
  src/main/java/com/example/mqmonitor/MqMonitorApplication.java
  src/main/liberty/config/server.xml
  src/main/resources/application-container.yml
  src/main/resources/application-dev.yml
  src/main/resources/application-embedded-jndi.yml
  src/main/resources/application.yml
  todolist.md
Labels: backend, configuration, documentation, build

feat(ci): 新增 automated 標籤用於 CI/CD 變更 (#12)
  .github/workflows/add-labels.yml
Labels: build

feat(pdf): 新增本地 PDF 檢視器功能
  local-pdf-viewer.html
Labels: none

feat(frontend): 實作視窗失去焦點時自動模糊化以防止截圖
  local-pdf-viewer.html
Labels: none

refactor(core): optimize MQPCFService structure and documentation
  src/main/java/com/example/mqmonitor/service/MQPCFService.java
Labels: backend

fix(mq): 新增 MQException 異常處理並修正 JavaDoc 參數對齊
  src/main/java/com/example/mqmonitor/service/MQPCFService.java
Labels: backend

feat(pdf-viewer): 新增列印遮蔽功能防止機密文件列印
  local-pdf-viewer.html
Labels: none

feat(pdf-viewer): 新增列印遮蔽功能與優化防截圖模糊效果 (#14)
  local-pdf-viewer.html
Labels: none

.github/labeler.yml:

# 前端相關標籤
frontend:
  - changed-files:
      - any-glob-to-any-file:
          - src/main/resources/static/**/*
          - src/main/resources/ftl/**/*
          - src/main/resources/templates/**/*

# 後端相關標籤
backend:
  - changed-files:
      - any-glob-to-any-file:
          - src/main/java/**/*
          - src/main/resources/application*.{yml,properties}
          - src/main/resources/*.xml

# 配置相關標籤
configuration:
  - changed-files:
      - any-glob-to-any-file:
          - src/main/java/**/config/**/*
          - src/main/resources/application*.{yml,properties}
          - src/main/resources/*.xml

# 測試相關標籤
test-code:
  - changed-files:
      - any-glob-to-any-file:
          - src/test/**/*

# 文檔相關標籤
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**/*
          - "**/*.md"
          - .github/ISSUE_TEMPLATE/**
          - .github/PULL_REQUEST_TEMPLATE.md

# 構建相關標籤
build:
  - changed-files:
      - any-glob-to-any-file:
          - pom.xml
          - .github/workflows/**
          - .github/*.yml

# Add 'feature' label to any PR where the head branch name starts with `feature` or has a `feature` section in the name
feature:
  - head-branch: ["^feature", "feature", "^feat", "feat"]

# Add 'bug' label to any PR where the head branch name starts with `fix` or has a `fix` section in the name
bug:
  - head-branch: ["^fix", "fix"]
