Repository vancetang/mq-monitor, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, configuration, test-code, documentation, build

.github/labeler.yml:

# 前端相關標籤
frontend:
  - changed-files:
      - any-glob-to-any-file:
          - src/main/resources/static/**/*
          - src/main/resources/ftl/**/*
          - src/main/resources/templates/**/*

# 後端相關標籤
backend:
  - changed-files:
      - any-glob-to-any-file:
          - src/main/java/**/*
          - src/main/resources/application*.{yml,properties}
          - src/main/resources/*.xml

# 配置相關標籤
configuration:
  - changed-files:
      - any-glob-to-any-file:
          - src/main/java/**/config/**/*
          - src/main/resources/application*.{yml,properties}
          - src/main/resources/*.xml

# 測試相關標籤
test-code:
  - changed-files:
      - any-glob-to-any-file:
          - src/test/**/*

# 文檔相關標籤
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**/*
          - "**/*.md"
          - .github/ISSUE_TEMPLATE/**
          - .github/PULL_REQUEST_TEMPLATE.md

# 構建相關標籤
build:
  - changed-files:
      - any-glob-to-any-file:
          - pom.xml
          - .github/workflows/**
          - .github/*.yml

# Add 'feature' label to any PR where the head branch name starts with `feature` or has a `feature` section in the name
feature:
  - head-branch: ["^feature", "feature", "^feat", "feat"]

# Add 'bug' label to any PR where the head branch name starts with `fix` or has a `fix` section in the name
bug:
  - head-branch: ["^fix", "fix"]

fix: 修正 Queue Manager 開始時間格式，將點號替換為冒號
  src/main/java/com/example/mqmonitor/service/MQPCFService.java
Labels: backend

feat: 新增 MqApiController 和 ReportController，提供 MQ 狀態查詢及 PDF 報表生成功能
  src/main/java/com/example/mqmonitor/controller/api/MqApiController.java
  src/main/java/com/example/mqmonitor/controller/web/HomeController.java
  src/main/java/com/example/mqmonitor/controller/web/ReportController.java
Labels: backend

fix: 更新通道狀態檢查邏輯，顯示連線錯誤訊息
  src/main/java/com/example/mqmonitor/service/MQConnectionService.java
  src/main/java/com/example/mqmonitor/service/MQPCFService.java
Labels: backend

fix: 更新通道狀態錯誤處理邏輯，改善錯誤訊息顯示
  src/main/java/com/example/mqmonitor/service/MQPCFService.java
Labels: backend

docs: 補充專案文檔，包含規格文件、開發報告和任務清單
  README.md
  report.md
  spec.md
  todolist.md
Labels: documentation

docs: 更新 README.md 檔案結構說明格式
  README.md
Labels: documentation

docs: 為 README.md 標題添加 emoji 圖示
  README.md
Labels: documentation

docs: 更新 README.md 和新增英文及簡體中文文檔
  README.md
  README_en.md
  README_zh-CN.md
Labels: documentation

docs: change license to Apache License 2.0
  LICENSE
Labels: none

docs: 將授權資訊從 MIT 授權更改為 Apache License 2.0
  README.md
  README_en.md
  README_zh-CN.md
Labels: documentation

feat: 新增 MQInfo 類別以管理 IBM MQ 連接資訊，並更新 MQConnectionService 使用該類別
  pom.xml
  src/main/java/com/example/mqmonitor/config/MQInfo.java
  src/main/java/com/example/mqmonitor/service/MQConnectionService.java
  src/main/resources/META-INF/additional-spring-configuration-metadata.json
Labels: backend, configuration, build

fix: 更新 README 文件中的 MQInfoProperties 為 MQInfo
  README.md
  README_en.md
  README_zh-CN.md
  spec.md
Labels: documentation

docs: 新增臨時文件紀錄 API URL 以提供 IBM MQ 連接資訊
  temp.md
Labels: documentation

docs: 新增參考連結以提供 IBM MQ REST API 的相關資源
  temp.md
Labels: documentation

build(deps)!: 更新 Spring Boot 版本至 3.5.0
  pom.xml
Labels: build

build(deps)!: 更新 Spring Boot 版本至 3.5.2
  pom.xml
Labels: build

build(deps)!: 更新 Spring Boot 版本至 3.5.3
  pom.xml
Labels: build

build(deps)!: 更新 Spring Boot 版本至 3.5.4
  pom.xml
Labels: build

build(deps)!: 更新 Spring Boot 版本至 3.5.5
  pom.xml
Labels: build

build(deps): 更新依賴版本至 springdoc 2.8.11、commons-lang3 3.18.0、ibm-mq 9.4.3.0 及 itext 9.2.0
  pom.xml
Labels: build

build(deps)!: itext 版本降回 7.2.6，並排除 openapi 中 commons-lang3 依賴
  pom.xml
Labels: build

build(deps): 新增 spring-boot-starter-aop 依賴，並排除 itext 的 bouncycastle 相關依賴(與ibm.mq.allclient重複)
  pom.xml
Labels: build

build: 更新 .gitattributes 檔案，新增多種檔案類型的行結尾設定及二進位檔案處理
  .gitattributes
Labels: none

build: 調整 .gitattributes 檔案，統一行結尾格式並移除不必要的二進位檔案設定
  .gitattributes
Labels: none

feat: 支援 IBM Liberty
  pom.xml
  src/main/liberty/config/server.xml
Labels: build

docs: 新增 Git 分支命名規則與策略及相關 alias 建議
  docs/branching-strategy.md
  docs/git-aliases.md
Labels: documentation

docs: 新增 Git 分支命名規則與策略及相關 alias 建議
  docs/branching-strategy.md
  docs/git-aliases.md
Labels: documentation

fix: 修正 MQ 連接名稱的埠號為 2424
  src/main/resources/application.yml
Labels: backend, configuration

chore: 更新 .gitignore，管理 VS Code 設定資料夾
  .gitignore
Labels: none

feat: 新增 VS Code 設定檔以支援 Java 開發環境
  .vscode/launch.json
  .vscode/settings.json
Labels: none

refactor: 更新 server.xml 中的註解與結構，增強可讀性
  src/main/liberty/config/server.xml
Labels: none

refactor: 調整 pom.xml 中的 WAR 打包註解位置，更新 IBM MQ 版本至 9.4.3.1，並擴展 MqMonitorApplication 類別以支援 Servlet 初始化
  pom.xml
  src/main/java/com/example/mqmonitor/MqMonitorApplication.java
Labels: backend, build

build: 精簡 Liberty 插件配置並新增註解說明
  .vscode/launch.json
  pom.xml
Labels: build

build: 將 JSP/JSTL 相關依賴項的範圍設定為 provided，以適配 Liberty 環境
  pom.xml
Labels: build

fix: 更新 VS Code 的 debug port 設定為預設值 7777
  .vscode/launch.json
Labels: none

build: 更新 liberty-maven-plugin 版本至 3.11.5
  pom.xml
Labels: build

build: 新增資料庫相關檔案的行結尾設定
  .gitattributes
Labels: none

build: 調整 .gitattributes 檔案，統一程式碼檔案行結尾格式
  .gitattributes
Labels: none

build: 新增資料庫相關檔案的行結尾設定
  .gitattributes
Labels: none

build: 調整 .gitattributes 檔案，統一程式碼檔案行結尾格式
  .gitattributes
Labels: none
