Repository vancetang/mq-monitor, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, configuration, test-code, documentation, build

feat(pdf): 新增本地 PDF 檢視器功能
  local-pdf-viewer.html
Labels: none

feat(pdf-viewer): 新增列印遮蔽功能與優化防截圖模糊效果 (#14)
  local-pdf-viewer.html
Labels: none

feat(multi-server): 整合多伺服器支援、JNDI 設定與依賴更新
  .gitignore
  .vscode/launch.json
  .vscode/settings.json
  README.md
  docs/QA.md
  docs/draft/JNDI-SETUP-GUIDE.md
  docs/draft/local-tomcat-setup.md
  pom.xml
  report.md
  spec.md
  src/main/java/com/example/mqmonitor/MqMonitorApplication.java
  src/main/liberty/config/server.xml
  src/main/resources/application-container.yml
  src/main/resources/application-dev.yml
  src/main/resources/application-embedded-jndi.yml
  src/main/resources/application.yml
  todolist.md
Labels: backend, configuration, documentation, build

feat(pdf-viewer): 新增密碼保護 PDF 支援功能
  local-pdf-viewer.html
Labels: none

feat(pdf-viewer): 新增本地 PDF 檢視器頁面
  local-pdf-viewer-native.html
Labels: none

feat(deps): 將 PDF.js 資源從 CDN 改為本地檔案
  local-pdf-viewer.html
  pdfjs-assets-v3.11.174/pdf.min.js
  pdfjs-assets-v3.11.174/pdf.worker.min.js
  pdfjs-assets-v3.11.174/pdf_viewer.css
  pdfjs-assets-v3.11.174/pdf_viewer.js
Labels: none

feat(pdf-viewer): 新增 PDF.js v5 本地預覽版本
  src/main/resources/static/local-pdf-viewer-v5.html
  src/main/resources/static/pdfjs-assets-v5.4.530/images/altText_add.svg
  src/main/resources/static/pdfjs-assets-v5.4.530/images/altText_disclaimer.svg
  src/main/resources/static/pdfjs-assets-v5.4.530/images/altText_done.svg
  src/main/resources/static/pdfjs-assets-v5.4.530/images/altText_spinner.svg
  src/main/resources/static/pdfjs-assets-v5.4.530/images/altText_warning.svg
  src/main/resources/static/pdfjs-assets-v5.4.530/images/annotation-check.svg
  src/main/resources/static/pdfjs-assets-v5.4.530/images/annotation-comment.svg
  src/main/resources/static/pdfjs-assets-v5.4.530/images/annotation-help.svg
  src/main/resources/static/pdfjs-assets-v5.4.530/images/annotation-insert.svg
  src/main/resources/static/pdfjs-assets-v5.4.530/images/annotation-key.svg
  src/main/resources/static/pdfjs-assets-v5.4.530/images/annotation-newparagraph.svg
  src/main/resources/static/pdfjs-assets-v5.4.530/images/annotation-noicon.svg
  src/main/resources/static/pdfjs-assets-v5.4.530/images/annotation-note.svg
  src/main/resources/static/pdfjs-assets-v5.4.530/images/annotation-paperclip.svg
  src/main/resources/static/pdfjs-assets-v5.4.530/images/annotation-paragraph.svg
  src/main/resources/static/pdfjs-assets-v5.4.530/images/annotation-pushpin.svg
  src/main/resources/static/pdfjs-assets-v5.4.530/images/comment-actionsButton.svg
  src/main/resources/static/pdfjs-assets-v5.4.530/images/comment-closeButton.svg
  src/main/resources/static/pdfjs-assets-v5.4.530/images/comment-editButton.svg
  src/main/resources/static/pdfjs-assets-v5.4.530/images/comment-popup-editButton.svg
  src/main/resources/static/pdfjs-assets-v5.4.530/images/cursor-editorFreeHighlight.svg
  src/main/resources/static/pdfjs-assets-v5.4.530/images/cursor-editorFreeText.svg
  src/main/resources/static/pdfjs-assets-v5.4.530/images/cursor-editorInk.svg
  src/main/resources/static/pdfjs-assets-v5.4.530/images/cursor-editorTextHighlight.svg
  src/main/resources/static/pdfjs-assets-v5.4.530/images/editor-toolbar-delete.svg
  src/main/resources/static/pdfjs-assets-v5.4.530/images/editor-toolbar-edit.svg
  src/main/resources/static/pdfjs-assets-v5.4.530/images/loading-icon.gif
  src/main/resources/static/pdfjs-assets-v5.4.530/images/messageBar_closingButton.svg
  src/main/resources/static/pdfjs-assets-v5.4.530/images/messageBar_info.svg
  src/main/resources/static/pdfjs-assets-v5.4.530/images/messageBar_warning.svg
  src/main/resources/static/pdfjs-assets-v5.4.530/images/toolbarButton-editorHighlight.svg
  src/main/resources/static/pdfjs-assets-v5.4.530/images/toolbarButton-menuArrow.svg
  src/main/resources/static/pdfjs-assets-v5.4.530/pdf.mjs
  src/main/resources/static/pdfjs-assets-v5.4.530/pdf.worker.mjs
  src/main/resources/static/pdfjs-assets-v5.4.530/pdf_viewer.css
  src/main/resources/static/pdfjs-assets-v5.4.530/pdf_viewer.mjs
Labels: frontend

docs(pdf-viewer-guide): 新增 PDF 檢視器模組說明文件
  docs/pdf-viewer-guide.md
Labels: documentation

refactor(pdf-viewer): 重構 v5 JS 程式碼為現代 ESM 風格
  src/main/resources/static/local-pdf-viewer-v5.html
Labels: frontend

Upgrade Spring Boot to 3.5.13 and Java to 25
  pom.xml
Labels: build

feat(build): Upgrade Spring Boot to 3.5.13 and Java to 25 (#18)
  pom.xml
Labels: build

chore(deps): bump org.springframework.boot:spring-boot-starter-parent from 3.5.13 to 3.5.14
  pom.xml
Labels: build

build(deps): bump org.springframework.boot:spring-boot-starter-parent from 3.5.13 to 3.5.14 (#21)
  pom.xml
Labels: build

fix(build): 重新正規化 mvnw.cmd 換行符
  mvnw.cmd
Labels: none

fix(build): 重新正規化 mvnw.cmd 換行符 (#26)
  mvnw.cmd
Labels: none

refactor: 升級 Spring Boot 版本並改用建構子注入
  pom.xml
  src/main/java/com/example/mqmonitor/config/MQConfig.java
  src/main/java/com/example/mqmonitor/controller/api/MqApiController.java
  src/main/java/com/example/mqmonitor/controller/web/HomeController.java
  src/main/java/com/example/mqmonitor/controller/web/ReportController.java
  src/main/java/com/example/mqmonitor/scheduler/MQConnectionScheduler.java
  src/main/java/com/example/mqmonitor/service/MQConnectionService.java
  src/main/java/com/example/mqmonitor/service/MQPCFService.java
  src/main/java/com/example/mqmonitor/service/PdfReportService.java
Labels: backend, configuration, build

refactor: 升級 Spring Boot 版本並改用建構子注入 (#27)
  pom.xml
  src/main/java/com/example/mqmonitor/config/MQConfig.java
  src/main/java/com/example/mqmonitor/controller/api/MqApiController.java
  src/main/java/com/example/mqmonitor/controller/web/HomeController.java
  src/main/java/com/example/mqmonitor/controller/web/ReportController.java
  src/main/java/com/example/mqmonitor/scheduler/MQConnectionScheduler.java
  src/main/java/com/example/mqmonitor/service/MQConnectionService.java
  src/main/java/com/example/mqmonitor/service/MQPCFService.java
  src/main/java/com/example/mqmonitor/service/PdfReportService.java
Labels: backend, configuration, build

builds(deps): 更新 Spring Boot 版本至 3.5.16，調整依賴項目
  pom.xml
Labels: build

refactor: 將 @Autowired 改為建構子注入，提升可測試性與可維護性
  src/main/java/com/example/mqmonitor/config/MQConfig.java
  src/main/java/com/example/mqmonitor/controller/api/MqApiController.java
  src/main/java/com/example/mqmonitor/controller/web/HomeController.java
  src/main/java/com/example/mqmonitor/controller/web/ReportController.java
  src/main/java/com/example/mqmonitor/scheduler/MQConnectionScheduler.java
  src/main/java/com/example/mqmonitor/service/MQConnectionService.java
  src/main/java/com/example/mqmonitor/service/MQPCFService.java
  src/main/java/com/example/mqmonitor/service/PdfReportService.java
Labels: backend, configuration

feat(pdfjs): 新增下載 PDF.js 的 PowerShell 腳本
  scripts/download-pdfjs.ps1
Labels: none

fix(build): 重新正規化 mvnw.cmd 換行符
  mvnw.cmd
Labels: none

fix(build): 重新正規化 mvnw.cmd 換行符 (#31)
  mvnw.cmd
Labels: none

.github/labeler.yml:

# 前端相關標籤
frontend:
  - changed-files:
      - any-glob-to-any-file:
          - src/main/resources/static/**/*
          - src/main/resources/ftl/**/*
          - src/main/resources/templates/**/*

# 後端相關標籤
backend:
  - changed-files:
      - any-glob-to-any-file:
          - src/main/java/**/*
          - src/main/resources/application*.{yml,properties}
          - src/main/resources/*.xml

# 配置相關標籤
configuration:
  - changed-files:
      - any-glob-to-any-file:
          - src/main/java/**/config/**/*
          - src/main/resources/application*.{yml,properties}
          - src/main/resources/*.xml

# 測試相關標籤
test-code:
  - changed-files:
      - any-glob-to-any-file:
          - src/test/**/*

# 文檔相關標籤
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**/*
          - "**/*.md"
          - .github/ISSUE_TEMPLATE/**
          - .github/PULL_REQUEST_TEMPLATE.md

# 構建相關標籤
build:
  - changed-files:
      - any-glob-to-any-file:
          - pom.xml
          - .github/workflows/**
          - .github/*.yml

# Add 'feature' label to any PR where the head branch name starts with `feature` or has a `feature` section in the name
feature:
  - head-branch: ["^feature", "feature", "^feat", "feat"]

# Add 'bug' label to any PR where the head branch name starts with `fix` or has a `fix` section in the name
bug:
  - head-branch: ["^fix", "fix"]
